@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap");

:root {
  --white: #f8f8ff;
  --light: #81bbdb;
  --primary: #3e64d6;
  --dark: #2b3457;
  --accent: #eee8a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: var(--dark);
  color: var(--white);
}

li {
  list-style: none;
}

.drop-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
  cursor: pointer;
}

.current-counter {
  font-size: 3em;
}

.container {
  width: 90vw;
  margin: auto;
  padding: 1em;
  max-width: 600px;
}
